In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime

In [4]:
def extract(url, table_attribs):
    ''' This function extracts the required
    information from the website and saves it to a dataframe. The
    function returns the dataframe for further processing. '''

    return df

def transform(df):
    ''' This function converts the GDP information from Currency
    format to float value, transforms the information of GDP from
    USD (Millions) to USD (Billions) rounding to 2 decimal places.
    The function returns the transformed dataframe.'''

    return df

def load_to_csv(df, csv_path):
    ''' This function saves the final dataframe as a `CSV` file 
    in the provided path. Function returns nothing.'''

def load_to_db(df, sql_connection, table_name):
    ''' This function saves the final dataframe as a database table
    with the provided name. Function returns nothing.'''

def run_query(query_statement, sql_connection):
    ''' This function runs the stated query on the database table and
    prints the output on the terminal. Function returns nothing. '''

def log_progress(message):
    ''' This function logs the mentioned message at a given stage of the code execution to a log file. Function returns nothing'''

' Here, you define the required entities and call the relevant \nfunctions in the correct order to complete the project. Note that this\nportion is not inside any function.'

In [5]:
url = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
table_attribs = ["Country", "GDP_USD_millions"]
db_name = 'World_Economies.db'
table_name = 'Countries_by_GDP'
csv_path = './Countries_by_GDP.csv'

In [6]:
#Extract the web page as text
html_page = requests.get(url).text

In [7]:
#Parse the html page    
data = BeautifulSoup(html_page, 'html.parser')

In [9]:
#Create an empty pandas DataFrame named df with columns as the table_attribs
df = pd.DataFrame(columns=table_attribs)

In [12]:
#Extract all 'tbody' attributes of the HTML object and then extract all the rows of the index 2 table using the 'tr' attribute.
tables = data.find_all('tbody')
rows = tables[2].find_all('tr')

In [15]:
#Check the contents of each row, having attribute ‘td’, for the following conditions.
#a. The row should not be empty.
#b. The first column should contain a hyperlink.
#c. The third column should not be '—'.

#Then store all entries matching the conditions to a dictionary with keys the same as entries of table_attribs. Append all these dictionaries one by one to the dataframe.

rows_to_add = []

for row in rows:
        # Extract all 'td' elements in the current row
    cells = row.find_all('td')

        # Check conditions: non-empty row, first column contains a hyperlink, third column is not '—'
    if len(cells) > 2 and cells[0].find('a') and cells[2].text.strip() != '—':
            
            # Extract data for each attribute
        country = cells[0].find('a').text.strip()
        gdp_usd_millions = cells[2].text.strip().replace(',', '').replace('$', '')

            # Store valid entries in a dictionary
        entry = {
            table_attribs[0]: country,
            table_attribs[1]: float(gdp_usd_millions) if gdp_usd_millions else None
            }

            # Add the entry to the list of rows to add
        rows_to_add.append(entry)
    # Concatenate all rows to the DataFrame
df = pd.concat([df, pd.DataFrame(rows_to_add)], ignore_index=True)

/tmp/ipykernel_29395/3102628767.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame(rows_to_add)], ignore_index=True)

In [16]:
df.head()

         Country  GDP_USD_millions
0  United States        26854599.0
1          China        19373586.0
2          Japan         4409738.0
3        Germany         4308854.0
4          India         3736882.0

In [19]:
df.tail()

              Country  GDP_USD_millions
186  Marshall Islands             291.0
187             Palau             262.0
188          Kiribati             248.0
189             Nauru             151.0
190            Tuvalu              65.0